{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Upload</title>
    <link rel="stylesheet" href="{% static 'score/css/style.css' %}">
</head>
<body>
    <div class="canvasLine">
        <span>
            <canvas id="canvas" width="400" height="100"></canvas>
            <form action="{% url 'upload' %}" method="post">
                {% csrf_token %}
                <input type="text" id="canvasData" name="canvasData">
                <input type="submit" value="submit">
            </form>
        </span>
    </div>
    <script type="text/javascript" src={% static 'score/javascript/canvas.js' %}></script>
</body>
</html>