<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Museic Canvas</title>
        <link rel="stylesheet" href="{% static 'score/css/style.css' %}">
        <script></script>
    </head>
    <body>
        <div class="canvasLine">
            <span>
                <canvas id="curCanvas"  class="canvas" width="400" height="100">
                </canvas>
            </span>
            <span>
                <canvas class="canvas" width="400" height="100">
                </canvas>
            </span>
            <span>
                <canvas class="canvas" width="400" height="100">
                </canvas>
            </span>
            <span>
                <canvas class="canvas" width="400" height="100">
                </canvas>
            </span>
        </div>
        <div class="canvasLine">
            <span>
                <canvas class="canvas" width="400" height="100">
                </canvas>
            </span>
            <span>
                <canvas class="canvas" width="400" height="100">
                </canvas>
            </span>
            <span>
                <canvas class="canvas" width="400" height="100">
                </canvas>
            </span>
            <span>
                <canvas class="canvas" width="400" height="100">
                </canvas>
            </span>
        </div>
        <div class="canvasLine">
            <span>
                <canvas class="canvas" width="400" height="100">
                </canvas>
            </span>
            <span>
                <canvas class="canvas" width="400" height="100">
                </canvas>
            </span>
            <span>
                <canvas class="canvas" width="400" height="100">
                </canvas>
            </span>
            <span>
                <canvas class="canvas" width="400" height="100">
                </canvas>
            </span>
        </div>
        <div class="canvasLine">
            <span>
                <canvas class="canvas" width="400" height="100">
                </canvas>
            </span>
            <span>
                <canvas class="canvas" width="400" height="100">
                </canvas>
            </span>
            <span>
                <canvas class="canvas" width="400" height="100">
                </canvas>
            </span>
            <span>
                <canvas class="canvas" width="400" height="100">
                </canvas>
            </span>
        </div>
        <div class="canvasLine">
            <span>
                <canvas class="canvas" width="400" height="100">
                </canvas>
            </span>
            <span>
                <canvas class="canvas" width="400" height="100">
                </canvas>
            </span>
            <span>
                <canvas class="canvas" width="400" height="100">
                </canvas>
            </span>
            <span>
                <canvas class="canvas" width="400" height="100">
                </canvas>
            </span>
        </div>
        <div>
            <form>
                <input type="image", id="image" onsubmit="submit();">
                <input type="submit", value="Submit">
            </form>
        </div>>
        <script src={% static "score/javascript/canvas.js" %}></script>
    </body>
</html>